@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html {
  font-size: 10px;
}
.orange{
  color: orange;
  font-weight: bold;
}
.navbar{
  height: 75px;  
}

.logo h1{
  color: orange;
  font-weight: normal;
}


.dancing-script .logo-first-letter {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}


.navbar-menu-items ul li a{
  margin-left: 12px;
  margin-right: 12px;
  font-size: 1.6rem;
  color: white;
  padding-bottom: 5px;
}
.navbar-social i {
font-size: 2rem;
margin: 0px 4px;
width: 20px;
height: 20px;
cursor: pointer;
color: white;

}
.navbar-social i:hover{
  animation: shake 0.5s;
  color: orange;

}
@keyframes shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-3px, 0); }
  50% { transform: translate(3px, 0); }
  75% { transform: translate(-3px, 0); }
  100% { transform: translate(0, 0); }
}
.navbar-menu-items ul li a:hover{
  border-bottom: 2px solid orange;
  transition: 0.9s;
}
.main{
  height: 88vh;
  
}
.main-info{
  
  padding-top: 220px;
  height: 500px;
}
.main-info h4{
  font-size: 2.8rem;
  margin-right: 13px;
  color: white;
}
.main-info h1{
  font-size: 4.8rem;
  color: orange;
}
.main-info p{
  font-size: 2.4rem;
  color: white;
}
.main-image{
 padding-top: 120px;
  height: 500px;
 }
.my-image{
  width: 400px;
  height: auto;
}
.image-container{
  width: 500px;
  border-left: 4px solid orange;
}
.main-btn{
  background-color: transparent !important;
  color: orange !important;
  width: 120px!important;
  font-size: 1.4rem!important;
}
.main-btn:hover{
  background-color: orange !important;
  color: black !important;
  transition: 0.9s !important;
}
.about{
  height: 600px;
  border-top: orange 2px solid;
  padding-top: 60px;
}
.about h1{
  color: white;
  font-weight: bold;
  font-size: 4.2rem;
  margin-top: 30px;
}
.about p{
  color: whitesmoke;
  font-size: 1.6rem;
  margin-left: 10px;
  margin-top: 30px;
  padding: 20px;

}
.çizgi{
  width: 400px;
  background-color: orange;
  height: 3px;
}
.about-btn{
  background-color: transparent !important;
  border: 1px solid orange !important;
  color: orange !important;
  width: 120px !important;
  height: 40px!important;
  margin: 10px;
  font-size: 1.4rem!important;

}
.about-btn:hover{
  background-color: orange!important;
  color: black!important;
  transition: 0.9s!important;
}
.skils{
  background-color: black;
  height: 600px;
}
.skils-tittle{
color: white;
font-weight: bold;
font-size: 4.2rem;
padding-bottom: 30px;
}
.skils-area{
height: 500px;
padding-top: 30px;

}
.icon-card{
  width: 200px;
  height: 200px;
  border-radius: 20px;

}
.icon-card:hover{
  transition: 0.9s;
}
.skils-area p{
  color: white;
  font-size: 1.9rem;
  padding-top: 30px;
}
.skils-area i{
font-size: 5rem;
}
.skils-area .html-icon{
color: orange;
}
.skils-area .css-icon{
color: blue;
}
.skils-area .javascript-icon{
color: yellow;
}
.skils-area .react-icon{
  color: aqua;
}
.sass-icon{
  color: pink;
}
.git-icon{
  color: rgba(255, 0, 0, 0.596);
}
.bootstrap-icon{
  color: blue;
}