@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html {
  font-size: 10px;
}
.orange{
  color: orange;
  font-weight: bold;
}
.navbar{
  height: 75px;  
}
.logo h1{
  color: orange;
  font-weight: normal;
}
.dancing-script .logo-first-letter {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.navbar-menu-items ul li a{
  margin-left: 12px;
  margin-right: 12px;
  font-size: 1.6rem;
  color: white;
  padding-bottom: 5px;
}
.navbar-social i {
font-size: 2.1rem;
margin: 0px 4px;
width: 20px;
height: 20px;
cursor: pointer;
color: white;

}
.navbar-social i:hover{
  animation: shake 0.5s;
  color: orange;
}
@keyframes shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-3px, 0); }
  50% { transform: translate(3px, 0); }
  75% { transform: translate(-3px, 0); }
  100% { transform: translate(0, 0); }
}
.navbar-menu-items ul li a:hover{
  border-bottom: 2px solid orange;
  transition: 0.9s;
}
.main{
  height: 88vh;
}
.main-info{
  padding-top: 220px;
  height: 500px;
}
.main-info h4{
  font-size: 2.8rem;
  margin-right: 13px;
  color: white;
}
.main-info h1{
  font-size: 4.8rem;
  color: orange;
}
.main-info p{
  font-size: 2.4rem;
  color: white;
}
.main-image{
 padding-top: 120px;
  height: 500px;
 }
.my-image{
  width: 400px;
  height: auto;
}
.image-container{
  width: 500px;
  border-left: 4px solid orange;
}
.main-btn{
  background-color: transparent !important;
  color: orange !important;
  width: 120px!important;
  font-size: 1.4rem!important;
}
.main-btn:hover{
  background-color: orange !important;
  color: black !important;
  transition: 0.9s !important;
}
.translate-link{
  display: flex;
  justify-content: end;
  color: white;
  font-size: 1.6rem;
  color: orange;
}
.about{
  height: 600px;
  border-top: orange 2px solid;
  padding-top: 60px;
}
.about h1{
  color: white;
  font-weight: bold;
  font-size: 4.2rem;
  margin-top: 30px;
}
.about p{
  color: whitesmoke;
  font-size: 1.6rem;
  margin-left: 10px;
  margin-top: 30px;
  padding: 20px;
}
.çizgi{
  width: 400px;
  background-color: orange;
  height: 3px;
}
.about-btn{
  background-color: transparent !important;
  border: 1px solid orange !important;
  color: orange !important;
  width: 120px !important;
  height: 40px!important;
  margin: 10px;
  font-size: 1.4rem!important;
}
.about-btn:hover{
  background-color: orange!important;
  color: black!important;
  transition: 0.9s!important;
}
.skils{
  background-color: black;
  height: 600px;
}
.skils-tittle{
color: white;
font-weight: bold;
font-size: 4.2rem;
padding-bottom: 30px;
}
.skils-area{
height: 500px;
padding-top: 30px;
}
.icon-card{
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.icon-card:hover{
  box-shadow: 0px 2px 10px 2px rgb(255, 98, 0);
  transition: 0.9s;
  background: linear-gradient(rgba(255, 166, 0, 0.262),orange);
}
.skils-area p{
  color: white;
  font-size: 1.9rem;
  padding-top: 30px;
}
.deneme{
  width: 300px;
  height: 300px;
  color: black;
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.project{
  height: 800px;
}
.project-area .project .project-tittle{
  color: white;
font-weight: bold;
font-size: 4.2rem;
padding-bottom: 30px;
}
.proje{
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: fit-content;
  max-height: fit-content;
  margin: 5px;
}
.proje:hover{
  box-shadow: 0px 2px 10px 2px rgb(255, 98, 0);
  transition: 0.9s;
}
.deneme {
  opacity: 0;
  transition: opacity 0.3s;
}

.proje:hover .deneme {
  opacity: 1;
}
.proje:hover{
  opacity: 0.6;
}
.project-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn-project{
  width: 120px!important;
  background-color: orange!important;
  height: 38px!important;
  color: black!important;
  font-size: 1.3rem!important;
}
.btn-project:hover{
  background-color: transparent!important;
  border: 2px solid orange!important;
  color: white!important;
  font-size: 1.4rem!important;
  font-weight: bold!important;
}
.project-1{
  background-image: url('./13dbcc2101d2793cf9646c06da05b8b1.jpeg');
}
.project-2{
  background-image: url('./459bb79685201c727b0af565c2f33e5e.jpeg');
}
.project-3{
  background-image: url('./5db5d8f45ba050c41a9bf1638c4242c0.jpeg');
}
.project-4{
  background-image: url('./8bd5999223093ecc6e4e7a34990dc67a.jpeg');
}
.project-5{
  background-image: url('./baba838698139c7b212d16e7033740ea.jpeg');
}
.project-6{
  background-image: url('./f70a56c29cea3ae1b73219b4e7f376b9.jpeg');
}
.icon-img{
  width: 52px;
}
